.header {
    background-color: #fff;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;    
  
    &__container {
      width: 100%;
      max-width: 1250px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    &__categories {
      flex: 1;
      display: flex;
  
      .header__item {
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 16px;
        padding: 0 16px;
        font-size: var(--s-text-menu);
        font-weight: 400;
        border-bottom: 2px solid #fff;
        transition: all 0.2s ease-in-out;
  
        &--active,
        &:hover {
          color: var(--c-primary);
          font-size: var(--s-text-menu);
          font-weight: var(--w-text-menu);
          border-bottom: 2px solid var(--c-primary);
        }
      }
    }
  
    &__logo {
      width: 40px;
    }
  
    &__actions {
      flex: 1;
      display: flex;
      justify-content: flex-end;
  
      .header__action-item {
        position: relative;
        display: flex;
        align-items: center;
        height: 80px;
        margin-left: 16px;
        cursor: pointer;
        transition: color 0.3s ease-in-out;
        font-size: 18px;
        font-weight: 500;
  
        &.currency-dropdown {
          &:hover {
            color: var(--c-primary);
          }
  
          .currency-dropdown__currency-menu {
            position: absolute;
            z-index: 9999;
            width: 130px;
            top: 60px;
            left: -40px;
            padding: 20px 0;
            flex-direction: column;
            box-shadow: 0 4px 35px rgba(168, 172, 176, 0.19);
            display: none;
  
            &--open {
                display: flex;
            }
  
            li.currency-menu__item {
              display: flex;
              justify-content: center;
              padding: 15px 0;
              font-weight: 500;
              font-size: 18px;
              cursor: pointer;
              color: var(--c-text);
  
              &:hover {
                color: var(--c-primary);
              }
            }
          }
        }
  
        &.cart-dropdown {
          &:hover {
            .material-icons-outlined {
              color: var(--c-primary);
            }
          }
  
          .cart-dropdown__cart-menu {
            position: absolute;
            background-color: white;
            z-index: 9999;
            width: 300px;
            top: 60px;
            right: 0;
            padding: 20px;
            display: flex;
            flex-direction: column;
            box-shadow: 0 4px 35px rgba(168, 172, 176, 0.19);
            cursor: default;
            display: none;
  
            &--open {
                display: flex;
            }
  
            &:hover {
              color: var(--c-text);
            }
  
            h2 {
              font-weight: 500;
              font-size: 16px;
              padding-bottom: 25px;
  
              strong {
                font-weight: 700;
              }
            }
  
            .row {
              display: flex;
            }
  
            .col {
              display: flex;
              flex-direction: column;
            }
          }
        }
  
        // &:hover {
        //     color: var(--c-primary);
        // }
      }
    }
  }
  